{% extends 'layouts/base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
        <p>
            Si un compte existant est associé à votre email, un email vous serait envoyé contenant le lien de reinitialisation de votre mot de passe.

            Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous ne recevez pas un email, veuillez vérifier vos spams ou <a href="{{ path('app_forgot_password_request') }}">Réessayer</a>.</p>
{% endblock %}
