{% extends 'layouts/base.html.twig' %}

{% block title %}New ArticlesPanier{% endblock %}

{% block body %}
    <h1>Create new ArticlesPanier</h1>

    {{ include('articles_panier/_form.html.twig') }}

    <a href="{{ path('app_articles_panier_index') }}">back to list</a>
{% endblock %}
