{% extends 'layouts/base.html.twig' %}

{% block title 'Nouveau avis' %}

{% block body %}

    <div class="container pt-5 mb-5">
        
        <div class="col-md-10 mx-auto">
            <h1 class="text-center font-primary-darker-bold mt-5 mb-3">Racontez-nous votre expérience</h1>
            <p class="text-center font-secondary mb-5">Quelle note attribueriez-vous à l'expérience ?</p>
        </div>
        {{ include('review/_form.html.twig') }}
    </div>

    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

{% endblock %}
