{% extends 'base.html.twig' %}

{% block title %}Edit StockCaracterestique{% endblock %}

{% block body %}
    <h1>Edit StockCaracterestique</h1>

    {{ include('stock_caracterestique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_stock_caracterestique_index') }}">back to list</a>

    {{ include('stock_caracterestique/_delete_form.html.twig') }}
{% endblock %}
