{% extends 'base.html.twig' %}

{% block title %}Edit Adresse{% endblock %}

{% block body %}


    <h1 class="mb-5 font-weight-normal bold text-center text-muted"><b>Modifier mon adresse de livraison</b></h1>
    
    <div class="col-md-7 mx-auto mt-5">
        {{ include('adresse/_form.html.twig', {'button_label': 'Valider'}) }}
    </div>


{% endblock %}
