{% extends 'base.html.twig' %}

{% block title %}Edit Adresse{% endblock %}

{% block body %}
    <h1>Modifier mon adresse de livraison</h1>
    {{ include('adresse/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
